<!DOCTYPE html>
<html>
  <head>
    <title>Sedus</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="wrapper">
      <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <%= render "layouts/header" %>
        <%= render "layouts/navbar" %>
      </nav>
      <div id="page-wrapper">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
